<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Step-by-Step My Child and I</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
        <script type= 'text/javascript' src="{{ url_for('static', filename='js/libs/jquery-3.3.1.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/progress-steps.js') }}"></script>-->
    </head>
    <body>
        <header>
		    <nav>
			    <ul class="nav justify-content-end">
                    <li class="nav-item">
					    <a class="nav-link active" href="#">Logout</a>
				    </li>
				    <li class="nav-item">
					    <a class="nav-link" href="#">About US</a>
				    </li>
				    <li class="nav-item">
					    <a class="nav-link" href="#">Boch Publishing</a>
				    </li>
				    <li class="nav-item">
					    <a class="nav-link" href="#">Home</a>
				    </li>
                </ul>
		    </nav>
        </header>
        <main id="content" role="main" >
            <div class="content" id="app">
                <div class="row header-row">
                    <h1><b class="title" id="main_title"></b></h1>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="input_box">
                                <h5><b class="subtitle" id="sub_title"></b></h5>
                                <textarea rows="4" cols="50" id="txt_setting">This is where you enter your text...</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_box">
                                <h5><b class="second_box" id="input2"></b></h5>
                                <textarea rows="4" cols="50" id="txt_details">This is where you enter your text...</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_box">
                                <h5><b>PAGE IMAGE</b></h5>
                                <div class="image_upload">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        Select image to upload:
                                        <input type="file" name="fileToUpload" id="fileToUpload">
                                        <input type="submit" value="Upload Image" name="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="instructions" id="info">
                            <center><h3><b class="subtitle" id="inst_subtitle"></b></h3></center>
                            <center><h4><b class="section_title" id="inst_section"></b></h4></center>
                            <div class="main_content" id="main_txt"></div>
                        </div>
                    </div>
                </div>
                <div class="row page_nav">
                    <div class="navigation">
                        <a href="#" class="previous round">‹</a>
                        <a href="#" class="preview">Preview Book</a>
                        <a href="#" id="next" class="next round">›</a>
                    </div>
                </div>
                <div class="row">
                    <div class="step-container">
                        <ul class="progressbar">
                            <li id="step_1" class="active">Characters</li>
                            <li id="step_2">Setting</li>
                            <li id="step_3">Plot</li>
                            <li id="step_4">Beginning</li>
                            <li id="step_5">Middle</li>
                            <li id="step_6">end</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <div id="footer">
            <div class="container">
                <p>Your Company &copy; All Rights Reserved.</p>
                {% block footer %}{% endblock %}
            </div>
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/content.js') }}"></script>
    </body>
</html>
